*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    /* height: 151px; */
    padding: 50px 0;
    /* background-color: aqua; */
}
nav h1{
    color: #4E47FF;
    font-size: 34px;
    
}
.sign-up{
    background-color: #4E47FF;
    color: white;
    width: 130px;
    height: 48px;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
    
}
.image-bg{
   background-image: url('../Assets/Hero-bg.png');
   max-width: 1440px;
   height: 698px;
   margin: 0 auto;
   

}
.header-container{
    max-width: 905px;
    margin: auto;
    /* background-color: #b7b6cc; */
    /* align-items: center; */
    margin-top: 70px;

}
.headline{
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    padding: 0px;


}

.head-btn{
    margin: 37px 365px 0px ;
    background-color: #4E47FF;
    color: white;
    width: 170px;
    height: 48px;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
}

.action-container{
    display: flex;
    justify-content: center;
    gap: 220px;
    margin-top: 116px;
    /* background-color: aquamarine; */

}

.wc-mini{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

.first-column{
    margin: auto 0px;
    width: 517px;
    height: 203px;

}

.first-column h1{
    color: #252432 ;
    font-size: 42px;
    margin-bottom: 23px;
  
}

.first-column p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 23px;
}

.launch-btn{
    background-color: #4E47FF;
    color: white;
    width: 229px;
    height: 48px;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
}
.user-container{
    background-color: rgba(78, 71, 255, 0.1);
    width: 1140px;
    height: 306px;
    margin: 0 auto;
    margin-top:116px ;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.pro-title h1{
    font-size: 38px ;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.number{
    display: flex;
    justify-content: space-between;
}

.number h2{
    font-size: 80px;
    color: #4E47FF;
}

.number p{
    color: rgba(37, 36, 50, 0.5);
    text-align: center;
}

.productive{
    align-items: center;
   width: 850px;
   height: 200px;
   margin: 50px;

}

.feedback-container{
    display: flex;
    justify-content: center;
    margin-top:130px;
    margin-bottom: 130px;
}
.feedback{
    /* background-color: antiquewhite; */
    width: 1140px;
    height: 340px;

}
.feedback-title{
    font-size: 42px;
    text-align:  center;
    margin-bottom: 50px;
    color: #252432;
}


.feedback-card{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1140px;
    height: 240px;
    /* background-color: aquamarine; */
    align-items: center;
}

.feeback-img{
    display: flex;
    margin: 24px;
    align-items: center;
}

.feeback-img img{
    border-radius: 50%; 
}
.feedback-1 h3{
    color: #1E1E1E;
    font-size: 24px;
    margin-bottom: 8px;
}
.star{
    width: 116px;
    height: 20px;
}
.star, .feedback-text, .feedback-img{
    margin: 24px;
}
.feedback-text p{
    color: #1E1E1E;
}
.feedback-img-gap{
    margin-left: 6px;
}
.feedback-img-gap h5{
    font-weight: 500px;
    color: #757575 ;
}
.feedback-img-gap p{
    color: #B3B3B3;
}
.feedback-1{
    background-color: #FFFFFF;
    border: 2px solid #F2EDED;
}